.header {
    text-align: center;
    background: color('blue');
    background: linear-gradient(90deg, rgba(202,17,171,1) 0%, rgba(78,17,118,1) 100%);

    &__title {
        padding: 45px 0 85px;
        font-size: 46px;
        font-weight: normal;
        color: color('white');
        transition: padding 0.1s ease;

        @include media-breakpoint-down(xs) {
            font-size: 36px;
        }

        &.scroll {
            padding: 95px 0 25px;
        }
    }
}
