.container {
    padding-left: 36px;
    padding-right: 36px;

    @include media-breakpoint-down(md) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @include media-breakpoint-down(xs) {
        padding-left: 15px;
        padding-right: 15px;
    }
}
