<%= _.template(require('html-loader!../../layouts/header.html'))({
    htmlWebpackPlugin: htmlWebpackPlugin,
    text: {
        title: `Time Tracker`,
        description: `description of page`
    }
}) %>

<div class="page">
    <%= _.template(require('html-loader?&interpolate!../../components/header/header.html'))() %>
    <main class="main js-main">
        <%= _.template(require('html-loader?&interpolate!../../components/filters/filters.html'))() %>
        <%= _.template(require('html-loader?&interpolate!../../components/table/table.html'))({
            titleHours: Array(24).fill(0)
        }) %>
    </main>
    
    <%= require('html-loader!../../components/templates/preloader-template.html') %>
    <%= require('html-loader!../../components/templates/table-body-row-template.html') %>
</div>

<%= _.template(require('html-loader?&interpolate!../../layouts/footer.html'))() %>
