<script id="table-body-row-template" type="text/template">
    <tr class="table__row js-table-body-row" data-id="<%= id %>"
        data-days="<%= Array.from(new Set([...virtualDate.days, ...actualDate.days])) %>"
        data-months="<%= Array.from(new Set([...virtualDate.months, ...actualDate.months])) %>"
        data-years="<%= Array.from(new Set([...virtualDate.years, ...actualDate.years])) %>">
        <td class="table__row-item"><%- name %></td>
        <td class="table__row-item"><%- workPlace %> / <%- role %></td>
        <td class="table__row-item table__row-item--no-pd">
            <div class="table-row">
                <% Array(24).fill('').forEach((item, idx) => { %>
                    <span class="table-row__row-item"> <%- item %> </span>
                <% }) %>
            </div>

            <span class="table__row-time-block-virtual js-time-block js-virtual-time is-active" style="width: <%= virtual.virtualWidth %>; left: <%= virtual.virtualTimeBlockPosition %>;"
                data-day="<%= virtualDate.days[0] %>" 
                data-month="<%= virtualDate.months[0] %>" 
                data-year="<%= virtualDate.years[0] %>">
            </span>
            <% if (virtual.reserveVirtualWidth) { %> 
                <span class="table__row-time-block-virtual-reserve js-time-block js-virtual-time is-active" style="width: <%= virtual.reserveVirtualWidth %>; left: 0px;"
                    data-day="<%= virtualDate.days[1] || virtualDate.days[0] %>" 
                    data-month="<%= virtualDate.months[1] || virtualDate.months[0] %>" 
                    data-year="<%= virtualDate.years[1] || virtualDate.years[0] %>"></span>
            <% } %>
            
            <span class="table__row-time-block-actual js-time-block js-actual-time is-hidden" style="width: <%= actual.actualWidth %>; left: <%= actual.actualTtimeBlockPosition %>;"
                data-day="<%= actualDate.days[0] %>" 
                data-month="<%= actualDate.months[0] %>" 
                data-year="<%= actualDate.years[0] %>">
            </span>
            <% if (actual.reserveActualWidth) { %> 
                <span class="table__row-time-block-actual-reserve js-time-block js-actual-time is-hidden" style="width: <%= actual.reserveActualWidth %>; left: 0px;"
                    data-day="<%= actualDate.days[1] || actualDate.days[0] %>" 
                    data-month="<%= actualDate.months[1] || actualDate.months[0] %>" 
                    data-year="<%= actualDate.years[1] || actualDate.years[0] %>"></span>
            <% } %>
        </td>  
    </tr>
</script>
