$grid-breakpoints: (
    xs: 0,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
) !default;

$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex !default;
$enable-grid-classes: true !default;
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

$container-max-widths: (
    lg: 1170px,
    xl: 1170px
) !default;
 