$font-family-base: 'Open Sans', sans-serif !default;

$font-size-xl: 28px !default;
$font-size-lg: 17px !default;
$font-size-md: 14px !default;
$font-size-xs: 12px !default;
$font-size-base: $font-size-lg !default;
$font-size-base-xs: $font-size-md !default;

$font-weight-light: 300 !default;
$font-weight-base: 400 !default;
$font-weight-bold: 600 !default;

$line-height-md: 1.41 !default;
$line-height-base: $line-height-md !default;

$font-size-h1: 46px !default;
$font-size-h2: 36px !default;
$font-size-h3: 20px !default;
$font-size-h4: 17px !default;
$font-size-h5: 17px !default;
$font-size-h6: 17px !default;

$font-size-h1-md: 36px !default;
$font-size-h2-md: 36px !default;
$font-size-h3-md: 20px !default;
$font-size-h4-md: 17px !default;
$font-size-h5-md: 17px !default;
$font-size-h6-md: 17px !default;

$font-size-h1-xs: 28px !default;
$font-size-h2-xs: 28px !default;
$font-size-h3-xs: 17px !default;
$font-size-h4-xs: 17px !default;
$font-size-h5-xs: 17px !default;
$font-size-h6-xs: 17px !default;

$line-height-h1: 1.09 !default;
$line-height-h2: 1.28 !default;
$line-height-h3: 1.41 !default;
$line-height-h4: 1.41 !default;
$line-height-h5: 1.41 !default;
$line-height-h6: 1.41 !default;

$line-height-h1-md: 1.11 !default;
$line-height-h2-md: 1.28 !default;
$line-height-h3-md: 1.41 !default;
$line-height-h4-md: 1.41 !default;
$line-height-h5-md: 1.41 !default;
$line-height-h6-md: 1.41 !default;

$line-height-h1-xs: 1.14 !default;
$line-height-h2-xs: 1.14 !default;
$line-height-h3-xs: 1.41 !default;
$line-height-h4-xs: 1.41 !default;
$line-height-h5-xs: 1.41 !default;
$line-height-h6-xs: 1.41 !default;

$typography-margin-top: 0 !default;
$typography-margin-bottom: 0 !default;

$headings-font-family: $font-family-base !default;
$headings-font-weight: $font-weight-bold !default;
$headings-color: color('black') !default;
