.table-row {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;

    >* {
        flex-grow: 1;
    }

    &__row-item {
        width: 40px;
        height: 100%;
        border-right: 1px solid color('black');

        @include media-breakpoint-down(lg) {
            width: 30px;
        }

        &:last-child {
            border-right: none;
        }
    }
}
