<div class="filters js-filters">
    <button class="filters__open-btn js-open-btn" type="button">Выбор даты</button>
    <form class="filters__form js-filters-form">
        <div class="filters__form-inner">
            <button class="filters__close-btn js-close-btn" type="button">
                <svg class='filters__close-svg' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32.526 32.526'>
                    <polygon points='32.526,2.828 29.698,0 16.263,13.435 2.828,0 0,2.828 13.435,16.263 0,29.698 2.828,32.526 16.263,19.091 29.698,32.526 32.526,29.698 19.091,16.263 ' />
                </svg>
            </button>
            <div class="filters__select-wrap js-select-wrap">
                <h3 class="filters__select-title">Выберите год:</h3>
                <div class="filters__select-main">
                    <span class="filters__select-main-text">С</span>
                    <select name="year-start" class="filters__select-year js-select">
                        <%Array(10).fill(2020).forEach((year, idx) => { %>
                            <option class="filters__select-year-option <% if (idx === 0) { %> js-main-option <% } %>"
                                value="<%= year - idx %>"><%= year - idx %></option>
                        <% }) %>
                    </select>

                    <span class="filters__select-main-text">по</span>
                    <select name="year-end" class="filters__select-year js-select">
                        <% Array(10).fill(2020).forEach((year, idx) => { %>
                            <option class="filters__select-year-option <% if (idx === 0) { %> js-main-option <% } %>"
                                value="<%= year - idx %>" <% if (idx === 0) { %> selected <% } %>> <%= year - idx %></option>
                        <% }) %>
                    </select>
                    <span class="filters__error js-error is-hidden">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22" height="22"
                            viewBox="0 0 22 22">
                            <g fill-rule="nonzero" mask="url(#b)">
                                <path
                                    d="M.04 14.95v7.07H7.1l10.6-10.6-7.07-7.08-10.6 10.6zm10.6-7.78l4.24 4.24-8.62 8.63H2.02V15.8l8.62-8.63z" />
                                <path d="M5.62 17.85l6.44-6.44L10.64 10l-6.43 6.43.07 1.35zM14.88.1l7.08 7.07L19.13 10l-7.07-7.07z" />
                            </g>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="filters__select-wrap js-select-wrap">
                <h3 class="filters__select-title">Выберите месяц:</h3>
                <div class="filters__select-main">
                    <span class="filters__select-main-text">С</span>
                    <select name="month-start" class="filters__select-month js-select">
                        <%Array(12).fill(1).forEach((month, idx) => { %>
                            <option class="filters__select-month-option <% if (idx === 0) { %> js-main-option <% } %>"
                                value="<%= month + idx %>"><%= month + idx %></option>
                        <% }) %>
                    </select>
            
                    <span class="filters__select-main-text">по</span>
                    <select name="month-end" class="filters__select-month js-select">
                        <% Array(12).fill(1).forEach((month, idx) => { %>
                            <option class="filters__select-month-option <% if (idx === 11) { %> js-main-option <% } %>"
                                value="<%= month + idx %>" <% if (idx === 11) { %> selected <% } %>><%= month + idx %></option>
                        <% }) %>
                    </select>
                    <span class="filters__error js-error is-hidden">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22" height="22"
                            viewBox="0 0 22 22">
                            <g fill-rule="nonzero" mask="url(#b)">
                                <path
                                    d="M.04 14.95v7.07H7.1l10.6-10.6-7.07-7.08-10.6 10.6zm10.6-7.78l4.24 4.24-8.62 8.63H2.02V15.8l8.62-8.63z" />
                                <path d="M5.62 17.85l6.44-6.44L10.64 10l-6.43 6.43.07 1.35zM14.88.1l7.08 7.07L19.13 10l-7.07-7.07z" />
                            </g>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="filters__select-wrap js-select-wrap">
                <h3 class="filters__select-title">Выберите день:</h3>
                <div class="filters__select-main">
                    <span class="filters__select-main-text">С</span>
                    <select name="day-start" class="filters__select-day js-select">
                        <%Array(31).fill(1).forEach((day, idx) => { %>
                            <option class="filters__select-day-option <% if (idx === 0) { %> js-main-option <% } %>"
                                value="<%= day + idx %>"><%= day + idx %></option>
                        <% }) %>
                    </select>
            
                    <span class="filters__select-main-text">по</span>
                    <select name="day-end" class="filters__select-day js-select">
                        <% Array(31).fill(1).forEach((day, idx) => { %>
                            <option class="filters__select-day-option <% if (idx === 30) { %> js-main-option <% } %>"
                                value="<%= day + idx %>" <% if (idx === 30) { %> selected <% } %>><%= day + idx %></option>
                        <% }) %>
                    </select>
                    <span class="filters__error js-error is-hidden">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22" height="22"
                            viewBox="0 0 22 22">
                            <g fill-rule="nonzero" mask="url(#b)">
                                <path
                                    d="M.04 14.95v7.07H7.1l10.6-10.6-7.07-7.08-10.6 10.6zm10.6-7.78l4.24 4.24-8.62 8.63H2.02V15.8l8.62-8.63z" />
                                <path d="M5.62 17.85l6.44-6.44L10.64 10l-6.43 6.43.07 1.35zM14.88.1l7.08 7.07L19.13 10l-7.07-7.07z" />
                            </g>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="filters__apply-filters">
                <button class="filters__submit js-filters-submit" type="button">Применить</button>
                <button class="filters__reset js-filters-reset" type="button">Сброс</button>
            </div>
        </div>
    </form>
</div>
