.filters {
    &__open-btn {
        margin-bottom: 30px;
        padding: 10px 30px;
        width: 400px;
        border-radius: 10px;
        background-color: color('gold');
        font-size: 24px;
        transition: background-color 0.2s ease-in-out;

        @include media-breakpoint-down(md) {
            margin-bottom: 20px;
        }

        @include media-breakpoint-down(xs) {
            width: 250px;
        }
        
        &:hover {
            background-color: color('goldDark');
        } 
    }

    &__close-btn {
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        padding: 5px;
    }

    &__close-svg {
        width: 20px;
        height: 20px;
        fill: color('black');
    }

    &__form {
        z-index: 100;
        position: fixed;
        top: 0;
        left: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0);
        transition: background-color 0.2s ease-in;

        &.is-active {
            left: 0;
            background-color: rgba(0, 0, 0, .65);
        }
    }

    &__form-inner {
        position: relative;
        padding: 50px;
        background-color: color('white');
        border-radius: 10px;

        @include media-breakpoint-down(xs) {
            padding: 30px;
        }
    }

    &__select-wrap {
        display: flex;
        flex-direction: column;
        margin: 0 0 50px;

        @include media-breakpoint-down(xs) {
            margin: 0 0 30px;
        }

        &:last-child {
            margin: 0 0 10px;
        }
    }

    &__select-title {
        margin: 0 0 5px;
        font-size: 25px;

        @include media-breakpoint-down(xs) {
            font-size: 18px;
        }
    }

    &__select-main {
        display: flex;
        align-items: baseline;
        margin: 0 0 0 20px;
    }
    
    &__select-main-text {
        font-size: 25px;

        @include media-breakpoint-down(xs) {
            font-size: 18px;
        }
    }

    &__select-year, &__select-month, &__select-day {
        margin: 0 8px;
        height: 35px;
        width: 75px;
        font-size: 22px;
        border-radius: 5px;
        outline: none;
        cursor: pointer;

        @include media-breakpoint-down(xs) {
            font-size: 18px;
        }
    }

    &__select-month, &__select-day {
        width: 60px;
    }

    &__apply-filters {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include media-breakpoint-down(xs) {
            flex-direction: column;
        }

        >button {
            flex-basis: 50%;
        }
    }

    &__error {
        margin: 0 0 0 10px;
        font-size: 28px;

        >svg {
            height: 18px;
            fill: color('red');
        }
    }

    &__submit, &__reset {
        padding: 10px 30px;
        border-radius: 10px;
        background-color: color('gold');
        font-size: 24px;
        transition: background-color 0.2s ease-in-out;

        @include media-breakpoint-down(xs) {
            font-size: 18px;

            &:last-child {
                margin-bottom: 0;
            }
        }
        
        &:hover {
            background-color: color('goldDark');
        }
    }

    &__submit {
        margin: 0 10px 0 0;

        @include media-breakpoint-down(xs) {
            margin: 0 0 20px 0;
        }
    }

    &__reset {
        color: color('white');
        background-color: color('blue');

        &:hover {
            background-color: color('blueDark');
        }
    }
}
