.table {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 10px;
    overflow-x: hidden;
    width: auto;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid color('black');
    -ms-overflow-style: none;

    @include media-breakpoint-down(lg) {
        font-size: 16px;
        overflow-x: scroll;
    }
    
    @include media-breakpoint-down(md) {
        width: 90vw;
        overflow-x: scroll;
        overflow-y: hidden;
        border-left: 1px solid color('black');
        border-right: 1px solid color('black');
    }

    @include media-breakpoint-down(xs) {
        font-size: 14px;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    &__table {
        border-spacing: 0;
        border-collapse:collapse;
    }

    &__head {
        border-bottom: 1px solid color('black');
    }

    &__body {
        cursor: pointer;

        >* {
            border-bottom: 1px solid black;
        }
    }

    &__row-preloader {
        text-align: center;
    }

    &__row-item {
        position: relative;
        padding: 5px;
        height: 100%;
        border-right: 1px solid color('black');
        text-align: center;

        &:last-child {
            border-right: none;
        }

        &--border {
            border-bottom: 1px solid color('black');
        }

        &--no-pd {
            padding: 0;
        }
    }

    &__row-time-block-virtual, &__row-time-block-virtual-reserve {
        position: absolute;
        top: 0;
        height: 100%;
        background-color: color('grayDark');
        border: none;
        opacity: 0;
        transition: opacity 0.24s ease-in-out;

        &.is-active {
            opacity: 1;
            border-left: 1px solid color('black');
            border-right: 1px solid color('black');
        }

        &.hide-by-filter {
            display: none;
        }
    }

    &__row-time-block-actual, &__row-time-block-actual-reserve {
        position: absolute;
        top: 0;
        height: 100%;
        background-image: repeating-linear-gradient(45deg, color('gold'), color('white') 1px, color('gold') 6px, color('gold') 10px);
        border: none;
        opacity: 0;
        transition: opacity 0.24s ease-in-out;

        &.is-active {
            opacity: 1;
            border-left: 1px solid color('black');
            border-right: 1px solid color('black');
        }

        &.hide-by-filter {
            display: none;
        }
    }
}
