<section class="table js-employees-table" data-url="data/GET_EMPLOYEES_LIST_SUCCESS.json" data-method="get">
    <table class="table__table">
        <thead class="table__head">
            <tr class="table__row">
                <th class="table__row-item" rowspan="2">Имя</th>
                <th class="table__row-item" rowspan="2">Место работы / роль</th>
                <th class="table__row-item table__row-item--border">Время (в часах)</th>
            </tr>
            <tr class="table__row">
                <th class="table__row-item table__row-item--no-pd">
                    <% if (titleHours) { %>
                        ${require('html-loader?&interpolate!../table-row/table-row.html')}
                    <% } %>
                </th>
            </tr>
        </thead>
        <tbody class="table__body js-employees-table-body">
        </tbody>
    </table>
</section>
