body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    line-height: $line-height-base;
    color: color('black');

    @include media-breakpoint-down(xs) {
        font-size: $font-size-base-xs;
    }
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
    margin-top: $typography-margin-top;
    margin-bottom: $typography-margin-bottom;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    color: $headings-color;
}

h1,
.h1 {
    font-size: $font-size-h1;
    line-height: $line-height-h1;

    @include media-breakpoint-down(md) {
        font-size: $font-size-h1-md;
        line-height: $line-height-h1-md;
    }

    @include media-breakpoint-down(xs) {
        font-size: $font-size-h1-xs;
        line-height: $line-height-h1-xs;
    }
}

h2,
.h2 {
    font-size: $font-size-h2;
    line-height: $line-height-h2;

    @include media-breakpoint-down(md) {
        font-size: $font-size-h2-md;
        line-height: $line-height-h2-md;
    }

    @include media-breakpoint-down(xs) {
        font-size: $font-size-h2-xs;
        line-height: $line-height-h2-xs;
    }
}

h3,
.h3 {
    font-size: $font-size-h3;
    line-height: $line-height-h3;

    @include media-breakpoint-down(md) {
        font-size: $font-size-h3-md;
        line-height: $line-height-h3-md;
    }

    @include media-breakpoint-down(xs) {
        font-size: $font-size-h3-xs;
        line-height: $line-height-h3-xs;
    }
}

h4,
.h4 {
    font-size: $font-size-h4;
    line-height: $line-height-h4;

    @include media-breakpoint-down(md) {
        font-size: $font-size-h4-md;
        line-height: $line-height-h4-md;
    }

    @include media-breakpoint-down(xs) {
        font-size: $font-size-h4-xs;
        line-height: $line-height-h4-xs;
    }
}

h5 {
    font-size: $font-size-h5;
    line-height: $line-height-h5;

    @include media-breakpoint-down(md) {
        font-size: $font-size-h5-md;
        line-height: $line-height-h5-md;
    }

    @include media-breakpoint-down(xs) {
        font-size: $font-size-h5-xs;
        line-height: $line-height-h5-xs;
    }
}

h6 {
    font-size: $font-size-h6;
    line-height: $line-height-h6;

    @include media-breakpoint-down(md) {
        font-size: $font-size-h6-md;
        line-height: $line-height-h6-md;
    }

    @include media-breakpoint-down(xs) {
        font-size: $font-size-h6-xs;
        line-height: $line-height-h6-xs;
    }
}

p {
    margin-top: $typography-margin-top;
    margin-bottom: $typography-margin-bottom;
}
